@include mediaXL {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }

  .menu-branding {
    .portrait {
      background: url(../image/prof-lg.png);
      height: 250px;
      width: 250px;
    }
  }
}

@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }

    .portrait {
      background: url(../image/profile.png);
      height: 230px;
      width: 230px;
    }
  }

  .menu-nav {
    height: 65vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 35vh;
    transform: translate3d(100%, 0, 0);
  }

  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";
    grid-template-columns: 1fr;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
    margin-right: 10px;
  }
  .boxes {
    .email {
      font-size: 13px;
      text-align: center;
      font-style: bold;
    }
  }

  .contact {
    .lg-heading {
      margin-left: -20px;
      padding: 8px 0px;
    }
  }
}

@include mediaSm {
  main#home h1 {
    margin-top: 10vh;
  }

  .projects {
    grid-template-columns: 1fr;
  }

  .Email {
    font-size: 20px;
  }
}
